.question-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: center;
  gap: 1rem;
}

.question-title {
  font-size: 1.5rem;
}

.time-left {
  font-size: 1.2rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  .question-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .question-title {
    font-size: 1.2rem;
  }

  .time-left {
    font-size: 1rem;
  }
}
